.dropdown.inline.prepend-left-10
  %button.dropdown-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
    %span.light
    - if @sort.present?
      = sort_options_hash[@sort]
    - else
      = sort_title_recently_created
    %b.caret
  %ul.dropdown-menu.dropdown-menu-align-right
    %li
      = link_to page_filter_path(sort: sort_value_recently_created) do
        = sort_title_recently_created
      = link_to page_filter_path(sort: sort_value_oldest_created) do
        = sort_title_oldest_created
      = link_to page_filter_path(sort: sort_value_recently_updated) do
        = sort_title_recently_updated
      = link_to page_filter_path(sort: sort_value_oldest_updated) do
        = sort_title_oldest_updated
      = link_to page_filter_path(sort: sort_value_more_weight) do
        = sort_title_more_weight
      = link_to page_filter_path(sort: sort_value_less_weight) do
        = sort_title_less_weight
      = link_to page_filter_path(sort: sort_value_milestone_soon) do
        = sort_title_milestone_soon
      = link_to page_filter_path(sort: sort_value_milestone_later) do
        = sort_title_milestone_later
      - if controller.controller_name == 'issues' || controller.action_name == 'issues'
        = link_to page_filter_path(sort: sort_value_due_date_soon) do
          = sort_title_due_date_soon
        = link_to page_filter_path(sort: sort_value_due_date_later) do
          = sort_title_due_date_later
      = link_to page_filter_path(sort: sort_value_upvotes) do
        = sort_title_upvotes
      = link_to page_filter_path(sort: sort_value_downvotes) do
        = sort_title_downvotes
